.container {
  display: flex;
  flex-direction: column;
  background-color: #8EACCD;
  height: 100vh;
  width: 5rem;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0px;
  position: sticky;
  cursor: pointer;
  top: 0;
}


.container img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}
.container .avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}